/* GLOBAL STYLES */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
    --desaturated-red:hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red:  hsl(0, 6%, 24%);
    --btn-bg: rgb(247, 168, 168);
    --input-border-color:rgb(240, 115, 136);
}

/* MAIN SECTION STYLES */
main {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */

    /* gap:1rem; */
    grid-auto-flow:row;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "logo"
                        " hero"
                        "text";
    max-height: 100vh;
    /* width: 100%; */
    
    /* border:1px solid blue; */

}

.main-image {
    width: 100%;
    /* border:1px solid red; */
    /* height: 100%;
    object-fit: cover; 
    flex:1 1 20rem; */
    grid-area: hero;
}

.main-image img {
    width: 100%;
    height:100%;
    object-fit: cover;
}
.content-div {
    grid-area: text;
    /* margin:4rem; */
    padding:1.5rem 3rem;
    /* background-image: url("images/"); */
    /* border:1px solid red; */
    width: 85%;
    place-self: center;

}

.logo-div {
    margin:1rem 4rem;
    grid-area: logo;
    /* border:1px solid red; */
    /* padding:1rem; */
}

h1 {
    font-size: 4rem;
    letter-spacing: 1.2rem;
    margin-bottom:1rem;
    color: var(--dark-grayish-red);
    text-align: center;
}
h1 span {
    color: var(--desaturated-red);
    font-weight: 300;
}

p {
    font-size: 1.6rem;
    line-height:1.2;
    margin-bottom: 2rem;
    color: var(--desaturated-red);
    font-weight: 300;
    text-align: center;
}

/* FORM STYLES */
form {
    /* border:1px solid red; */
    position: relative;
}

input {
    width: 100%;
    border-radius: 3rem;
    padding:1rem;
    font-size:1.6rem;
    font-weight: 300;
    border: 2px solid var(--desaturated-red);
    color: var(--desaturated-red);
}

input:focus {
    outline:1px solid var(--soft-red);
}

::placeholder {
    color: var(--desaturated-red);
    opacity: 1;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 3rem;
    width: 7rem;
    background:linear-gradient(135deg, var(--desaturated-red), var(--soft-red)) ;
    border: none;
    position: absolute;
    right:0px;
    top: 0px;
    z-index: 6;
    box-shadow:2px 6px 18px var(--desaturated-red);
}

.error-icon {
    display: none;
    position: absolute;
    width:2.5rem;
    height: 2.5rem;
    top: 0.8rem;
    right: 20%;
}
.error-paragraph {
    display: none;
    margin-top:0.5rem;
}

@media only screen and (min-width:1440px) {
    main {
        grid-template-columns:repeat(2, 1fr);
        gap:0rem;
        grid-template-areas: "logo hero"
        "content hero"
        "content hero";
        background-image: url("images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
    }

    .logo-div {
        grid-area: logo;
        margin:4rem 16rem 0rem;
    }

    .main-image {
        grid-area: hero;
        /* border:1px solid blue; */
    }

    .main-image img {
        width:100%;
        height:100%;
    }
    .content-div {
        grid-area: content;
        padding:8rem 16rem;
        width: 100%;
    }

    h1 {
        font-size:8rem;
        text-align:left;
    }

    p {
        font-size: 1.6rem;
        line-height: 1.6;
        margin-bottom: 3rem;
        text-align: left;
    }
}